
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(248, 244, 244);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    margin-bottom: 25px;
}

h1 {
    font-size: 22px;
    padding: 8px;
    width: 48%;
    font-family: Montserrat;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #FFFFFF;
}

h2 {
    top: 16px;
    left: 212px;
    width: 126px;
    height: 29px;
    font-family: normal normal 600 21px/31px Poppins;
    font-family: Poppins;
    font-size: 155%;
    text-align: center;
    width: 33%;
}

h4 {
    font-weight: bold;
    padding-top: 2%;
}

.headercontainer {
    margin-left: 0%;
    /* width: 112%; */
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: #446DFF;
    color: white;
}

.head {
    text-align: center;
    width: 62%;
    font: normal normal medium 15px/19px Montserrat;
    font-family: Montserrat;
    font-size: 17px;
    letter-spacing: 0px;
    padding-top: 30px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.scalebutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
    align-items: center;
    margin-left: 26%;
    margin-right: 30px;
}

.active1, .scalebutton:hover {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    border-radius: 7px;
    opacity: 1;
}

.tempbutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
    margin-right: 30px;
}

.active2, .tempbutton:hover {
    background: #f5c9cd 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    border-radius: 7px;
    opacity: 1;
}

.volbutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
}

.active3, .volbutton:hover {
    background: #d9ccf1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
    border-radius: 7px;
    opacity: 1;
}

.images {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.length-text {
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #0EC098;
    text-transform: capitalize;
    opacity: 1;
}

a:link {
    text-decoration: none;
}

.temp-text {
    font-family: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #FD5160;
    text-transform: capitalize;
    opacity: 1;
}

.vol-text {
    font-family: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #7224FF;
    text-transform: capitalize;
    opacity: 1;
}

.inputResult1 {
    display: flex;
    flex-direction: column;
}

.inputResult2 {
    display: flex;
    flex-direction: column;
}

.inputResult {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.length-converter {
    position: absolute;
    margin-left: 26%;
}

.from {
    margin-left: 1.2rem;
    font-size: 14px;
    font-family: Montserrat;
    color: #000000;
    letter-spacing: 0px;
    opacity: 0.62; 
}

.to {
    font-size: 14px;
    font-family: Montserrat;
    color: #000000;
    letter-spacing: 0px;
    opacity: 0.62;
}

input {
    height: 55px;
    width: 255px;
    font-weight: 900;
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-indent: 7%;
}

#input {
    margin-left: 18px;
}

#inputType {
    width: 263px;
    height: 55px;
    margin-left: 18px;
    font-family: Montserrat;
    font-weight: bold;
    text-indent: 7%;
    margin-right: 27px;
}

#resultType {
    font-family: Montserrat;
    font-weight: bold;
    width: 263px;
    height: 55px;
    text-indent: 7%;
}


/* iPhones */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    h1 {
        font-size: 11px;
        width: fit-content;
        justify-content: center;
        width: 22rem;
        padding: 10px;
    }
    h2 {
        font-size: 1rem;
    }
    h4 {
        font-size: 12px;
    }
    .head {
        font-size: 12px;
        width: 9rem;
        padding-top: 11px;
    }
    .headercontainer {
        width: 127%;
    }
    .images {
        width: 106%;
    }
    .scalebutton {
        padding-top: 12px;
        margin-left: 6%;
        width: 11rem;
        height: 7rem;
        margin-right: 10px;
    }
    .tempbutton {
        width: 11rem; 
        height: 7rem;
        margin-right: 10px;
    }
    .volbutton {
        width: 11rem;
        height: 7rem;
        padding-top: 10px;
        margin-right: 24px;
    }
    .length-converter {
        margin-left: 3.1%;
    }
    .inputResult {
        display: flex;
        flex-flow: column;
        margin-left: 5rem;
    }
    .inputResult2 {
        margin-left: 1.2rem;
    }
    input {
        height: 3rem;
        font-size: 2rem;
        width: 7.8rem;
        margin-right: 2rem;    
    }
    #inputType {
        width: 8.3rem;
        height: 3rem;
    }
    #resultType {
        width: 8.3rem;
        height: 3rem;
    }
}

/* Galaxy Phones */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) { 
    .length-converter {
        margin-left: 4%;   
    }
    .head {
        width: 9rem;
    }
    .volbutton {
        margin-right: 10px;
    }
    input {
        width: 8rem;
    }
    #inputType {
        width: 8.5rem;
    }
    #resultType {
        width: 8.5rem;
    }
}

/* Nexus Phones */
@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) {
    h2 {
        font-size: 15px;
        padding-top: 7px;
        width: 6.5rem;
    }
    h1 {
        width: 24rem;
    }
    .head {
        font-size: 12px;
        width: 12rem;
    }
    .images {
        display: flex;
        flex-direction: column;
    }
    .scalebutton {
        width: 10rem;
        height: 9rem;
        margin-bottom: 10px;
        margin-left: 24%;
    }
    .tempbutton {
        width: 10rem;
        height: 9rem;
        margin-bottom: 10px;
        margin-left: 24%;
    }
    .volbutton {
        width: 10rem;
        height: 9rem;
        margin-left: 24%;
    }
    .length-converter {
        margin-left: 7%;
    }
    input {
        width: 7rem;
    }
    #inputType {
        width: 7.5rem;
    }
    #resultType {
        width: 7.5rem;
    }
}

/* Windows Phone */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) { 
    div {
        margin-bottom: 20px;
    }
    h1 {
        width: 32rem;
    }
    h2 {
        width: 24%;
    }
    .head {
        width: 11.5rem;
    }
    .images {
        width: 76%;
    }
    .scalebutton {
        margin-left: 11%;
    }
    .volbutton {
        margin-right: 30px;
    }
    .length-converter {
        margin-left: 6%;
    }
    input {
        width: 7.9rem;
    }
    #inputType {
        width: 8.4rem;
    }
    #resultType {
        width: 8.4rem;
    }
}

@media screen 
  and (min-device-width: 425px) 
  and (max-device-width: 1024px) {
    h1 {
        font-size: 14px;
        width: 27rem;
    }
    .head {
        font-size: 15px;
        width: 14rem;
    }
    .scalebutton {
        margin-left: 11%;
    }
    .volbutton {
        margin-right: 15%;
    }
    .length-converter {
        margin-left: 14%;
        padding-top: 11px;
    }
  }

/* iPad */
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    div {
        margin: 0;
    }
    h2 {
        font-size: 1.3rem;
        width: 9rem;
    }
    h1 {
        width: 38rem;
        font-size: 27px;
    }
    .head {
        font-size: 1.3rem;
        width: 19.5rem;
    }
    .images {
        width: 46rem;
        padding-bottom: 25px;
    }
    .scalebutton {
        margin-left: 4.5rem;
    }
    .length-converter {
        margin-left: 4.5rem;
        padding-top: 20px;
    }
    .from {
        font-size: 21px;
    }    
    .to {
        font-size: 21px;
    }
    input, #inputType, #resultType {
        height: 4rem;
    }
}

@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) {
    h1 {
        width: 20rem;
    }
}
